.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: rgb(162, 36, 226);
  transition: all 205ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: white;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.button:hover,
.button:focus {
  background-color: darkmagenta;
  scale: 1.1;
  font-weight: bolder;
}
